@use "../utils/mixins" as mx;

.options {
  @include mx.adaptive("padding-top", 70, 50, 0);
  padding-bottom: 100px;
}

.title-container {
  padding: 20px 28px;
  border-radius: 20px;
  background: #fff4f7;

  @include mx.adaptive("width", 1220, 345, 0);
  margin-left: auto;
  margin-right: auto;
  @include mx.adaptive("margin-bottom", 30, 20, 0);

  .title {
    color: #ff6d90;
    text-align: center;
    font-family: "Bebas Neue Cyrillic";
    @include mx.adaptive("font-size", 96, 54, 0);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mx.adaptive("width", 514, 289, 0);
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid #ffd4df;
    }
  }

  .title-image {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .title-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.mobile-decoration-image {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 999px) {
  .mobile-decoration-image {
    display: none;
  }
}

.bonus .title {
  @include mx.adaptive("width", 240, 135, 0);
}
